/*======================== 
GLOBAL
==========================*/
* {
  box-sizing: border-box;
}
body {
  background-color: #c1c0b6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
font-weight: 200; 
line-height: 1.6; 
color: #3f3b37;
}
header {
  background-color: #c1c0b6;
  padding: 10px 0 4px;
  
}
.logo {
  max-width: 150px;
  padding-top: 2.5px;
}
nav .active {
  color: #5c9a95 !important;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #1f1b1b;
  display: block;
}
nav > ul > li > a:visited{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #877a65;
}
nav > ul > li > a:hover{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #c9aa70;
  text-decoration: none;
  border-bottom: 1px solid #4a4a4a;
}
nav > ul > li > a:active{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ff7700;
  text-decoration: none;
}
header {
  position: fixed;
  background-color: #c1c0b6;
  padding: 10px 0;
  width: 100%;
  
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(94, 98, 108, 0.5);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
.css-box-shadow{

    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    background: #C1C0B6; 
    border: solid #4a4a4a 1px; 
    box-shadow: 0 0 9px rgba(16, 82, 214, 0.3)  ; 
    -webkit-box-shadow: 0 0 9px rgba(17, 84, 217, 0.3)  ; 
    -moz-box-shadow: 0 0 9px rgba(17, 84, 217, 0.3)  ; 
}
#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}
main {
  padding-top: 59px;
}

#hero {
  background-color: #c1c0b6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  
}
img {
  width: 100%;
  border-radius: 15px;
}
#work .row {
padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#work .wrapper{
  display: flex;
  flex-direction: column;
}
#work .row{
  display: flex;
  flex-direction: column;
}
#work .column{
  display: flex;
  flex-direction: column;
}
.project-intro .container {
  display: flex;
  flex-direction: column;
}
.project-intro .container div {
  order: -1;
}
#work1about {
  text-align: left;
  text-transform: none;
}
a {
  color: #ffffff;  
  text-decoration: none; 
}
a:visited { 
  color: #ffffff;
}
a:hover {
  color: #159800;
  text-decoration: underline; 
}
a:focus { 
  color: #05FFF0;
}
a:active { 
  color: #159800;
}
/*========================================
TYPOGRAPHY
=========================================*/
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.0em;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.50em;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.10em;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  font-size: 1.0em;
  font-weight: 400;
}
/*========================================
LINKS & BUTTONS
=========================================*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #433E2C;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button-proto {
  background-color: transparent;
  color: #ff7f50;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.prototype:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.prototype:active {
  background-color: #ff7f50;
  color: #3300ff;
}
#work .button {
  text-align: center;
}
footer {
  background-color: #433e2c;
  padding: 10px;
  text-align: center;
  color: #c1c0b6;
  
}
footer .button {
  background: #c1c0b6;
  color: #4a4a4a;
}
.email {
  margin-bottom: 2em;
}
footer .socialimage {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.5px;
  color: #c1c0b6;
}
footer .socialimage img {
  width: 80px;
}
.project-prototype {
  padding: 0 0 30px;
}
.project-prototype .container {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-direction: column;
  text-align: center;
}
.project-prototype.button.prototype{
  text-align: center;
  margin: 0 0 50px;
}
/*Layout styling*/
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.profilepic {
  max-width: 500.00px;
  padding-top: 2.5px;
  margin: 0 auto;
  display: block;
}
/*======================== 
SEMI-MEDIUM DEVICES (640px and larger)
==========================*/

@media (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
main {
  padding-top: 80px;
}
nav {
width: auto;
float: right;
margin-top: 4px;
  }

nav > ul {
  margin: 1em 0;
  display:inline-block;
}
nav > ul > li {
  display: inline-block
}
#work .row{
  flex-direction: row;
  justify-content:space-between;
}
#work .column{
  justify-content:center;
  align-items:flex-start;
  width: 46%;
}
body {
  font-size: 18px;
}
.logo {
  max-width: 200px;
  padding-top: 14px;
h1 {
  font-size: 2.5em;
}
#hero {
  text-align: center;
}
#hero span {
  display: block;
}
.col-md-6 {
  width: 50%
}
[class*="col-"] {
  float: left;
  padding: 25px;
}
.row:after {
  content:"";
  clear: both;
  display:table;
}
.project-prototype .container {
display: flex;
row-gap: 20px;
column-gap: 30px;
flex-direction: row;
  }
  .project-prototype.button{
    margin: 0 0.5em;
  }
}

/*======================== 
MEDIUM DEVICES (1024px and larger)
==========================*/

@media only screen and (min-width:1024px) {
  main {
    padding-top: 100px;
  }
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
body {
  font-size: 22px;
}
.logo {
  max-width: 200px;
  padding-top: 22px;
}
#work .wrapper{
  flex-direction: row;
  gap:50px;
}
#work .row{
  flex-direction: column;
  justify-content:flex-start;
  width:33.3%;
}
#work .column{
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;
}
.project-prototype .container {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-direction: row;
  }
  .project-prototype.button{
    margin: 0 0.5em;
  }
}
/*======================== 
LARGE DEVICES (1200px and larger)
==========================*/

@media only screen and (min-width:1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-prototype .container {
    display: flex;
    row-gap: 20px;
    column-gap: 30px;
    flex-direction: row;
    }
    .project-prototype.button{
      margin: 0 0.5em;
    }
}
/*======================== 
XTRA LARGE DEVICES (1440px and larger)
==========================*/

@media only screen and (min-width:1440px) {
  
}